{% extends 'core/layout.html.twig' %}
{% block body %}

    <div id="Blog">
        <section class="clearfix">
            <div class="g3">
                <br>
                <div>
                    <button type="button" class="btn-perso" OnClick='window.location.href="/registration"'>S'inscrire
                    </button>
                    <button type="button" class="btn-perso" OnClick='window.location.href="/connection"'>S'identifier
                    </button>
                </div>
                <br>

                <h1 class="mt-2"><center>Nos articles diponibles.</center></{{ titre }}</h1>
{#                {% for article in articles %}#}
                <br>
                    <lu>
                            <div  id="form_title" class="col-sm-12">
                                <div  id="form_title" class="col-sm-1">
                                    <img height="35" width="47" src="/images/articles/{{image}}.jpg" >
                                </div>
                                <div  id="form_title" class="col-sm-7">
                                    <h3><a href="">Quel langage de programmation choisir.{{ titre }}</a></h3>
                                </div>
                                <div  id="form_title" class="col-sm-4">
                                    <h4>Par : Olivier Boutet{{ auteur }} </h4>
                                    <h4>Date de création: 03 Mars 1970{{ date }}</h4>
                                </div>
                            </div>

                    </lu>
                    </div>
            <br>
                <blockquote class="blockquote">
                    <footer class="blockquote-footer">Le respect de nos semblables est la règle de notre conduite.<br>
                        <cite title="Source Title">Citation de Félicité de Genlis ; Les pensées et maximes détachées
                            (1801)</cite>
                    </footer>
                </blockquote>
          </section>
    </div>

{% endblock %}