{% extends 'core/layout.html.twig' %}

{% block body %}


    <div class="container bootstrap snippet" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div id="title_user" class="col-sm-10" align="center">
                <h2>Bienvenue {{ username }} </h2>
            </div>
        </div>
        <div class="col-sm-10" align="center"><a href="/disconnected" name="disconnected" value="disconnected">Se
                déconnecter</a>
            <h4>
                Nom d'utilisateur : {{ session.username }}
                <br>
                Email : {{ session.email }}
                <br>
                Date d'inscription : {{ session.registrationDate }}
                <br>
                <br>
                <a style="color:black" href="/newarticle" name="newarticle value=" newarticle"> Créer un nouvel
                <strong>article ...</strong></a>
                <br>
            </h4>
        </div>
        <div id="title_user" class="col-sm-10" align="center"><h2>Vos article</h2></div>
        <div id="form_title" class="col-sm-12">

            {% for article in articles %}
                <div class="col-sm-10">
                    <ul>
                        <li>
                                <h3>
                                    <img height="35" width="47" src="/images/articles/{{ article.id }}.jpg">

                                    {{ article.titre }}    ----     {{ article.created_date|date('d-m-Y') }}
                                </h3>

                                    <h5>
                                        <p>
                                        {{ article.article|truncate(150, true)|raw }}
                                        </p>

                                    </h5>


                                <h7>
                                        <a href=/article/{{ article.id }} name="open" class="btn btn-link">Ouvrir mon article</a>
                                    <button data-id-article="{{  article.id|e }}" type="button" name="delete" data-toggle="modal" data-target="#infos"
                                            value="{{  article.id|e }}" class="btn btn-link remove-btn"> Supprimer mon article
                                    </button>
                                    <a href="/newarticle?article={{ article.slug }} " name="modified"
                                            class="btn btn-link"> Modifier mon article
                                    </a>
                                </h7>
                                <br>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
    <h4>
        <center>
            {% for j in 1..(totalPage) %}
                <a href="/profil?page={{ j }}">{{ j }}</a>
            {% endfor %}
        </center>
    </h4>
    <div class="modal" id="infos">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 style="color:darkred" class="modal-title"><strong>ATTENTION ...</strong></h3>
                </div>
                <div class="modal-body">
                    <h4>
                        Votre article sera définitivement supprimé de notre base de donnée...
                        <br>
                        Après avoir accepté, aucun retour en arrière ne sera possible.
                    </h4>
                    <br>
                    <button formaction="delete" class="confirm-remove btn btn-outline-warning" type="button">OK</button>
                        <button data-dismiss="modal" type="button" class="btn btn-outline-dark">Annuler</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <em>Avertissement</em>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    <script>
         $(function(){
             $('.remove-btn').on('click', function (e) {
                 let id = $('.remove-btn').data('id-article');
                 console.log(id);
                 $('.confirm-remove').on('click', function (e){
                     $.ajax({
                         url: '/profil?page=1',
                         method: 'DELETE',
                         success: function (data){
                             TODO
                         }
                     })
                 })
             })
         })
    </script>
{% endblock %}